<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>category</th>
      <th>type</th>
      <th>length</th>
      <th>speed</th>
      <th>weight</th>
      <th>reps</th>
      <th>note</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_category.name %></td>
        <td><%= task.task_type.name %></td>
        <td><%= task.length %></td>
        <td><%= task.speed %></td>
        <td><%= task.weight %></td>
        <td><%= task.rep %></td>
        <td><%= task.note %></td>
        
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
